


:root {
    --cellSize: 60px;
    --cellBorderSize: 2px;

    --keySize: 50px;
}

@media screen and (max-width: 600px) {
    :root {
        --cellSize: 55px;

        --keySize: 30px;
    }
}


:root[theme="light"] {
    --bodyColor: white;
    
    --headerBackground: #eee;
    --headerBorder: 1px solid #bbb;
    --headerColor: black;
}

:root[theme="dark"] {
    --bodyColor: #111;
    
    --headerBackground: #111;
    --headerBorder: 1px solid #333;
    --headerColor: white;
}




* {
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.2s, color 0.1s;
}



.icon {
    height: 100%;
    display: flex;
    align-items: center;
}



.hoverSwap, .clickToggle {
    display: grid;
}
.hoverSwap > *, .clickToggle > * {
    grid-column: 1;
    grid-row: 1;
    transition: opacity 0.2s;
}
.hoverSwap > *:last-child {
    opacity: 0;
}
.hoverSwap:hover > *:last-child {
    opacity: 1;
}
.hoverSwap:hover > *:first-child {
    opacity: 0;
}

:root[theme="light"] .dark, :root[theme="dark"] .light {
    opacity: 0;
    pointer-events: none;
}


.clickable {
    cursor: pointer;
}



body {
    margin: 0;
    overflow: hidden visible;
    background: var(--bodyColor);
}




header {
    height: 50px;

    padding: 0 10px;
    margin: 0;

    text-align: center;

    background: var(--headerBackground);
    color: var(--headerColor);
    border-bottom: var(--headerBorder);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: default;
    font-weight: 600;
    font-size: 45px;
}

header * {
    height: 100%;
}

header svg {
    height: 60%;
}

.left {
    float: left;
}
.right {
    float: right;
}
.left, .right {
    display: flex;
}
.right > *, .left > * {
    width: 30px;
}
.left > *:not(:first-child) {
    margin-left: 10px;
}
.right > *:not(:last-child) {
    margin-right: 10px;
}



#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: calc(90vh);
}


#messages {
    position: fixed;

    display: flex;
    flex-direction: column;

    pointer-events: none;

    padding: 10px;
    width: 100%;
    z-index: 9999;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: whitesmoke;
    border-radius: 5px;
    
    font-weight: 700;

    text-align: center;
    
    padding: 5px;
    margin: 5px;
    width: 250px;
    min-height: 50px;

    color: black;
    
    transition: 0.2s;
}

.message.info {
    color: blue;
}

.message.warning {
    color: yellow;
}

.message.error {
    color: red;
}



#words-grid {

}

.words-row {
    display: flex;
}

.words-cell {
    margin: 2px;
    width: var(--cellSize);
    height: var(--cellSize);
    
    transform-style: preserve-3d;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 45px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.state:not([data-state]) {
    box-sizing: border-box;
    border: var(--cellBorderSize) solid #333;
}

.state[data-state="none"] {
    background-color: #333;
}

.state[data-state="has"] {
    background-color: #ba4;
}

.state[data-state="correct"] {
    background-color: #7b6;
}






#keyboard {
    
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.keyboard-button {
    width: var(--keySize);
    height: var(--keySize);
    border-radius: 5px;
    border: none;
    margin: 3px;

    background-color: rgba(0, 0, 0, 0.5);

    cursor: pointer;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: calc(var(--keySize) - 5px);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

    transition: background-color 0.5s;
}

.keyboard-button.oneandhalf {
    width: calc(var(--keySize) * 1.5);
}

#game[data-state="complete"] .keyboard-button {
    cursor: not-allowed;
}








.menu.hidden {
    display: none;
}



.setting {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.setting label {
    padding-bottom: 10px;
}

.settingData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.setting input {

}